#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

public/uploads/UGM - Bagian KSPM.pdf
public/uploads/dokumentasi/BAST LUBUK LINGGAU.pdf
public/uploads/dokumentasi/Rani Dwi Ayuningtias - Bagian KSPM.pdf
public/uploads/dokumentasi/UGM - Bagian KSPM.pdf
public/uploads/draft/Rani Dwi Ayuningtias - Bagian KSPM.docx
public/uploads/dokumentasi/MOU-13.2021-Pertukaran Data OJK dan BPS.pdf
public/uploads/dokumentasi/PH lubuk linggau_001.pdf
public/uploads/dokumentasi/Contoh Surat Keluar.pdf
public/uploads/draft/Contoh Surat Keluar.docx
public/uploads/dokumentasi/Contoh Surat Keluar_2.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_3.pdf
public/uploads/draft/Contoh Surat Keluar_2.docx
public/uploads/draft/Contoh Surat Keluar_3.docx
.gitignore
public/uploads/dokumentasi/Contoh Surat Keluar_1.pdf
public/uploads/dokumentasi/[BIDANG EXCELSIOR] Surat Keterangan Pengajuan IPKM (005).pdf
public/uploads/draft/Contoh Surat Keluar_3 - Copy.docx
public/uploads/dokumentasi/4SI1_1_M. Hafiz Al Ihsan_221810407_Calm.pdf
public/uploads/dokumentasi/BAST LUBUK LINGGAU_1.PDF
public/uploads/dokumentasi/BAST LUBUK LINGGAU_2.PDF
public/uploads/dokumentasi/BAST LUBUK LINGGAU_3.PDF
public/uploads/dokumentasi/BAST LUBUK LINGGAU_4.PDF
public/uploads/dokumentasi/BAST LUBUK LINGGAU_5.PDF
public/uploads/dokumentasi/BAST LUBUK LINGGAU_6.PDF
public/uploads/dokumentasi/BAST LUBUK LINGGAU_7.PDF
public/uploads/dokumentasi/Contoh Surat Keluar_4.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_5.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_6.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_7.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_8.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_9.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_10.pdf
public/uploads/dokumentasi/Contoh Surat Keluar_11.pdf
public/uploads/dokumentasi/Progress Terjemahan C1-Data Management_M. Hafiz Al Ihsan_4SI1_OSL.pdf
public/uploads/dokumentasi/Testing Survey Questions.pdf
public/uploads/draft/Contoh Surat Keluar_1.docx
public/uploads/draft/Contoh Surat Keluar_4.docx
public/uploads/dokumentasi/Contoh Surat Masuk.pdf
